<template>
    <div class="channels-box">
        <div v-for="(show, i) in channels" :key="i" class="channels-box__single col-xl-3 col-lg-4 col-md-2 col-s-1" >
            <div class="channels-box__channel" v-bind:id="show.channel">
                <p>{{ show.channel }}</p>
            </div>
            <div class="channels-box__shows">
                <div v-for="(single, j) in show.program" :key="j" class="channels-box__shows-single">
                    <div class="channels-box__shows-time-box">
                        <span :class="[single.category, 'show-category']"> 
                            {{ single.start }}
                        </span>
                    </div>
                    <div v-if="single.url" class="channels-box__shows-title-box"><a v-bind:href="single.url">{{ single.title }}</a></div>
                    <div v-if="!single.url" class="channels-box__shows-title-box">{{ single.title }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        channels: Array,
    }
}
</script>

<style>
    .channels-box {
        width: 100%;
        vertical-align: top;
        /* display: flex; */
    }
    .channels-box__single {
        /* flex: 1; */
        vertical-align: top;
        display: inline-block;
        border-radius: 16px;
        margin: 20px 0 20px 2em;
        background-color: #fcfcfc;
        padding: 0.2em 0.5em;
        max-width: 430px;
        width: 430px;
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);

    }
    .channels-box__single:last-child {
        margin-right: 20px;
    }
    .channels-box__channel {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .channels-box__channel:after {
        content: "";
        display: block;
        width: 85%;
        border-bottom: solid 1px #b2b2b2;
        margin: 0 auto;
    }
    .channels-box__channel p {
        font-size: 30px;
        text-align: center;
    }
    .channels-box__shows-single {
        width: 100%;
        margin: 1em 0;
        font-size: 16px;
    }
    .channels-box__shows-time-box, .channels-box__shows-title-box {
        display: inline-block;
    }
    .channels-box__shows-title-box {
        margin-left: 1em;
        width: 86%;
    }
    .channels-box__shows-time-box {
        width: 10%;
        vertical-align: top;
    }    
    .show-category {
        padding: 0.2em 0.3em;
        border-radius: 5px;
    }
</style>