<template>
    <nav>
        <header style="margin: 0 auto;">
            <div class="row text-dark" style="background-color: ##fcfcfc;">
                <div class="col-xl-10 col-sm-12 mt-1">
                    <ul class="nav">
                        <li v-for="channel in channels" :key="channel.channel" class="nav-item">
                            <a class="nav-link" v-bind:href="link(channel)">{{ channel.channel }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-2 col-sm-12 mt-2">
                    <h4 class="text-right">
                    </h4>
                </div>
            </div>            
        </header>
    </nav>
</template>

<script>
export default {
    props: {
        channels: Array
    },
    methods: {
        link: (channel) => {
            return '#' + channel.channel;
        }
    }
}
</script>

<style>
    nav {
        height: 80;
        padding: 1em 5em;
        background-color: rgba(0, 0, 0, 0.15);
    }
    .nav li {
        font-size: 16px;
        color: #404040;
        font-weight: 500;
        letter-spacing: 0.8px;
        text-align: center
    }
    .nav li a {
        color: #404040;
    }
</style>