<template>
        <carousel class="row slider-box"
            :perPageCustom="[[480, 2], [768, 3], [1024, 4], [1300, 5]]"
            :navigationEnabled="false"
            :paginationEnabled="false"
        >
            <slide v-for="(single, i) in following" :key="i" class="slider-box__single">
                <span :class="[single.now.category, 'category']"></span>
                <div class="p-2">
                    <p class="text-center mb-1"><img :src="getLogo(single.now.channel)" /></p>
                    <h6>
                        <p class="text-center now-time">{{ single.now.start }}</p>
                    </h6>
                    <p v-if="single.now.url" class="text-center now-title"><a v-bind:href="single.now.url">{{ single.now.title }}</a></p>
                    <p v-if="!single.now.url" class="text-center now-title">{{ single.now.title }}</p>
                </div>
                <div :class="[single.next.category , 'current-box__next_box', 'mt-2']">
                    <p class="next-time">{{ single.next.start }}</p>
                    <p v-if="single.next.url" class="next-title"><a v-bind:href="single.next.url">{{ single.next.title }}</a></p>
                    <p v-if="!single.next.url" class="next-title">{{ single.next.title }}</p>
                </div>
            </slide>
        </carousel>

</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';

    export default {
        components: {
            Carousel,
            Slide
        },
        props: {
            following: Array,

        },
        methods: {
            getLogo(channel) {
                return '/assets/img/' + channel.slice(0, -3) + '.png';
            },
        },
        mounted() {
            setTimeout(() => {
                // this.$refs['carousel'].onResize();
                // this.$refs['carousel'].goToPage(0);
            }, 3000);
        }


        }
    
</script>

<style>
    a {
        color: inherit;
    }
    .slider-box {
        width: 100%;
        height: 270px;
        background-color: #f2f2f2;
        margin: 0;
    }
    .slider-box__single {
        height: 230px;
        max-height: 230px;
        max-width: 320px;
        /* margin: 20px 2em; */
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        border-radius: 7px;
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        position: relative;
        font-family: Montserrat;
    }
    .category {
        display: block;
        width: 100%;
        height: 15px;
        border-radius: 7px 7px 0 0;
    }
    .serija {
        /* background-color: #ff9436; */
        background-color: rgba(255, 148, 54, 1);
        color: white;
    }
    .film {
        background-color: rgba(0, 187, 233, 1);
        color: white;
    }
    .dokumentarni {
        background-color: rgb(43, 206, 145);
        color: white;
    }
    .now-time {
        font-size: 18px;
        margin: 0 auto;
    }
    .now-title {
        font-size: 18px;
    }
    .current-box__next_box {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 50px;
        max-width: 320px;
        overflow: hidden;
        border-radius: 0 0 7px 7px;
        padding:0.2em 0.4em;
    }
    .current-box__next_box p:nth-of-type(2) {
        font-size: 16px;
        margin-left: 0.3em;
    }
</style>