<template>
  <div id="app">
    <div class="container-fluid">
      <Header 
        :channels="channels"
      />
      <Slider 
        :following="following"
      />
      <Channel 
        :channels="channels"
      />
      <back-to-top text="Back to top" visibleoffset="500"></back-to-top>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Slider from './components/Slider.vue';
import Channel from './components/Channel.vue';
import BackToTop from 'vue-backtotop';
import axios from 'axios';

export default {
  name: 'app',
  components: {
    Header,
    Slider,
    Channel,
    BackToTop
  },
  data() {
    return {
      channels: [],
      following: []
    }
  },
  created() {
    axios.get('http://localhost/functions.php').then((response) => {
    // axios.get('functions.php').then((response) => {
      this.channels = response.data.channels;
      this.following = response.data.following;
    });
  }
}
</script>

<style>
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
</style>
